{% include "includes/header.html" %}
	{% include "includes/sidebar.html" %}
		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
          <i class="fa fa-bars fa-xl align-self-center"></i>
        </a>

				<div class="navbar-collapse collapse">
				</div>
			</nav>

			<main class="content">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header text-center">
								<h2>
									Clasifikasi bunga iris dengan algoritma KNN
								</h2>
							</div>
							<div class="card-body">
								<div class="container-fluid">
									<div class="row text-center">
										<div class="col-6">
											<div class="card">
												<div class="card-body">
													<label for="sepal-length-range" class="form-label">Sepal Length <span class="badge text-bg-info val-sepal-length-range"></script></span></label>
													<input type="range" class="form-range" id="sepal-length-range" step="0.1" data-bs-toggle="tooltip" data-bs-placement="top">
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="card">
												<div class="card-body">
													<label for="sepal-width-range" class="form-label">Sepal Width <span class="badge text-bg-info val-sepal-width-range"></script></span></label>
													<input type="range" class="form-range" id="sepal-width-range" step="0.1" data-bs-toggle="tooltip" data-bs-placement="top">
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="card">
												<div class="card-body">
													<label for="petal-length-range" class="form-label">Petal Length <span class="badge text-bg-info val-petal-length-range"></script></span></label>
													<input type="range" class="form-range" id="petal-length-range" step="0.1" data-bs-toggle="tooltip" data-bs-placement="top">
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="card">
												<div class="card-body">
													<label for="petal-width-range" class="form-label">Petal Length <span class="badge text-bg-info val-petal-width-range"></script></span></label>
													<input type="range" class="form-range" id="petal-width-range" step="0.1" data-bs-toggle="tooltip" data-bs-placement="top">
												</div>
											</div>
										</div>
										<div class="col-12">
											<button id="prediksi-iris-knn" class="btn btn-success">Prediksi</button>
										</div>
									</div>
									<!-- end row -->
								</div>
								<!-- end container-fluid -->
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="card">
							<div class="card-header text-center">
								<h2>
									Clasifikasi bunga iris dengan algoritma KNN
								</h2>
							</div>
							<div class="card-body">
								<div class="container-fluid">
									<div class="row text-center">
										<div class="col-6">
											<div class="mb-3">
												<label for="sepal-length" class="form-label">Sepal Length</label>
												<input type="text" class="form-control form-control-lg" id="sepal-length" placeholder="Silahkan masukkan panjang sepal" required>
											</div>
										</div>
										<div class="col-6">
											<div class="mb-3">
												<label for="sepal-width" class="form-label">Sepal Width</label>
												<input type="text" class="form-control form-control-lg" id="sepal-width" placeholder="Silahkan masukkan lebar sepal" required>
											</div>
										</div>
										<div class="col-6">
											<div class="mb-3">
												<label for="petal-length" class="form-label">Petal Length</label>
												<input type="text" class="form-control form-control-lg" id="petal-length" placeholder="Silahkan masukkan panjang petal" required>
											</div>
										</div>
										<div class="col-6">
											<div class="mb-3">
												<label for="petal-width" class="form-label">Petal Width</label>
												<input  type="text" class="form-control form-control-lg" id="petal-width" placeholder="Silahkan masukkan lebar petal" required>
											</div>
										</div>
										<div class="col-12">
											<button id="prediksi-iris-knn2" class="btn btn-success">Prediksi</button>
										</div>
									</div>
									<!-- end row -->
								</div>
								<!-- end container-fluid -->
							</div>
							<!-- card-body -->
							<div class="card-footer">
								<div class="col-4">
									<div class="card text-center">
										<div class="card-header">
											<span>Catatan :</span>
										</div>
										<div class="card-body">
											<button disabled class="btn text-bg-warning "> Masukkan tanda koma menggunakan <strong>. (titik)</strong></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- row -->
				<div class="container-fluid p-0">
					<!-- Modal custom-->
					<div class="modal fade fade-in" id="modal-custom" tabindex="-1" aria-labelledby="modal-custom-title" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header bg-secondary bg-opacity-50 text-center">
									<h1 class="modal-title fs-5" id="modal-custom-title">Hasil Prediksi</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body modal-custom-body">
									
								</div>
								<div class="modal-footer modal-custom-footer bg-secondary bg-opacity-50">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

			{% include "includes/footer.html" %}
		</div>
		<!-- .main -->
	</div>
	<!-- end wrapper -->
{% include "includes/scripts.html" %}
<script>
	$(document).ready(function(e){
		valSepalLength = $('#sepal-length-range').val();
		valSepalWidth = $('#sepal-width-range').val();
		valPetalLength = $('#petal-length-range').val();
		valPetalWidth = $('#petal-width-range').val();
		$('#clasifikasi-iris-knn').addClass('active');
		$('.val-sepal-length-range').html(valSepalLength);
		$('.val-sepal-width-range').html(valSepalWidth);
		$('.val-petal-length-range').html(valPetalLength);
		$('.val-petal-width-range').html(valPetalWidth);

		$(document).on('change', '#sepal-length-range, #sepal-width-range, #petal-length-range, #petal-width-range', function(){
			val = $(this).val();
			id = $(this).attr('id');
			$(this).attr('title',val);
			$('.val-'+id).html(val);
			$(id).val(val);
		});

		$(document).on('click', '#prediksi-iris-knn', function(e) {
			e.preventDefault();
			params = {
				'sepal_length': $('#sepal-length-range').val(),
				'sepal_width': $('#sepal-width-range').val(),
				'petal_length': $('#petal-length-range').val(),
				'petal_width': $('#petal-width-range').val(),
			};

			$.post("{{url_for('index_iris_KNN')}}", params, function(res) {
				txt =`
				
				Bunga dengan panjang sepal = `+params['sepal_length']+`<br>
				lebar sepal = `+params['sepal_width']+`<br>
				panjang petal = `+params['petal_length']+`<br>
				lebar petal = `+params['petal_width']+`<br>
				Di prediksi termasuk jenis bunga <h4>`+res+`</h4>
				`;
				$('#modal-custom-title').html('Hasil Prediksi');
				$('.modal-custom-body').html(txt);
				$('#modal-custom').modal('show');
			},'text');
		});

		$(document).on('click', '#prediksi-iris-knn2', function(e) {
			e.preventDefault();
			valSepalLength = $('#sepal-length').val();
			valSepalWidth = $('#sepal-width').val();
			valPetalLength = $('#petal-length').val();
			valPetalWidth = $('#petal-width').val();
			if(valSepalLength != '' && valSepalWidth != '' && valPetalLength != '' && valPetalWidth != ''){
				params = {
					'sepal_length': $('#sepal-length').val(),
					'sepal_width': $('#sepal-width').val(),
					'petal_length': $('#petal-length').val(),
					'petal_width': $('#petal-width').val(),
				};

				$.post("{{url_for('index_iris_KNN')}}", params, function(res) {
					txt =`
					
					Bunga dengan panjang sepal = `+params['sepal_length']+`<br>
					lebar sepal = `+params['sepal_width']+`<br>
					panjang petal = `+params['petal_length']+`<br>
					lebar petal = `+params['petal_width']+`<br>
					Di prediksi termasuk jenis bunga <h4>`+res+`</h4>
					`;
					$('#modal-custom-title').html('Hasil Prediksi');
					$('.modal-custom-body').html(txt);
					$('#modal-custom').modal('show');
				},'text');
			}else{
				alert('Silahkan isi atau lengkapi data masukkan terlebih dahulu');
			};
		});
	});
</script>